{% extends 'base.html.twig' %} {% block title %}Select Recipe{% endblock %} {%
block body %} {% include "components/navbar/navbar.html.twig" %}

<div class="container">
  <h1>Select a Recipe</h1>

  <form method="post">
    <input type="hidden" name="day" value="{{ dayId }}" />
    <input type="hidden" name="time" value="{{ timeId }}" />
    <input type="hidden" name="planner" value="{{ plannerId }}" />

    <div class="row row-cols-3">
      {% if recipes|length > 0 %} {% for recipe in recipes %}
      <div>
        <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
            <p class="card-text">Cooking time: {{ recipe.cookingTime }}</p>
            <p class="card-text">Calories: {{ recipe.calories }}</p>
            <a href="{{ path('app_recipe_show', { id: recipe.id }) }}">show</a>
            <button type="submit" name="recipe" value="{{ recipe.id }}">
              Add
            </button>
          </div>
        </div>
      </div>

      {% endfor %} {% else %}
      <p>No records found</p>

      {% endif %}
    </div>
  </form>
</div>
{% include "components/footer/footer.html.twig" %} {% endblock %} {#
