{% extends 'base.html.twig' %}

{% block title %}Weekly Planner{% endblock %}

{% block stylesheets %}
    {# Include Bootstrap CSS #}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">Weekly Planner</h1>

        <div class="row">
            {% for day in days %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>{{ day.name }}</h4>
                        </div>
                        <div class="card-body">
                            {% for time in times %}
                                <h5>{{ time.name }}</h5>
                                <div class="{{ time.name|lower }}-recipes mb-3">
                                    {% set dayRecipes = recipesInPlanner[day.id][time.id] ?? [] %}
                                    {% if dayRecipes is empty %}
                                        <p>No recipes planned for this time</p>
                                        <a href="{{ path('app_planner_add_recipe', { 'day': day.id, 'time': time.id, 'planner': app.user.planner.id }) }}" class="btn btn-sm btn-primary">Add</a>
                                    {% else %}
                                        {% for plannerRecipe in dayRecipes %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                {{ plannerRecipe.getRecipe().getName() }}
                                                <form method="post" action="{{ path('app_planner_remove_recipe', { 'id': plannerRecipe.getId() }) }}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plannerRecipe.getId()) }}">
                                                <button class="btn btn-sm btn-danger" type="submit">Remove</button>
                                            </form>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}




