{% extends 'base.html.twig' %} {% block title %}Select Recipe{% endblock %} {%
block body %} {% include "components/navbar/navbar.html.twig" %} {% block
stylesheets %} {% endblock %}

<div class="container mt-5">
  <div class="text-center my-4">
    <h1 class="display-4">All Recipes</h1>
    <p class="lead">Browse all recipes created by you and other users</p>
    <a href="{{ path('app_recipe_new') }}" class="btn btn-success"
      >Create new recipe</a
    >
    {% if app.user %}
    <a href="{{ path('app_my_recipes') }}" class="btn btn-success"
      >My Recipes</a
    >
    {% endif %}
  </div>

  <div class="row row-cols-3">
    {% if recipes|length > 0 %} {% for recipe in recipes %}
    <div class="my-5">
      <div class="card" style="width: 18rem">
        {# <img src="..." class="card-img-top" alt="..." /> #}
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{% for category in recipe.category %}
                    {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}</p>
          <p class="card-text">Cooking time: {{ recipe.cookingTime }}</p>
          <p class="card-text">Calories: {{ recipe.calories }}</p>
          <a
            href="{{ path('app_recipe_show', { id: recipe.id }) }}"
            class="btn btn-primary"
            >Show details</a
          >
          {% if recipe.author.id == app.user.id %}
          <a
            href="{{ path('app_recipe_edit', { id: recipe.id }) }}"
            class="btn btn-warning"
            >Edit</a
          >

          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %} {% else %}
    <p>No records found</p>

    {% endif %}
  </div>
</div>
{% include "components/footer/footer.html.twig" %} {% endblock %}
